.btn{
    position: fixed;
    height: 34px;
    width: 17%;
    left: 80%;
    top: 15px;
    font-size: xx-small;
    border: solid 1px black;
}

@media(min-width:1024px){
    .btn{
        position: fixed;
        height: 34px;
        width: 10%;
        left: 85%;
        top: 15px;
        font-size: small;
        border: solid 1px black;
    }
}