.btn{
    position: relative;
    height: 34px;
    width: 17%;
    left: 80%;
    top: 15px;
    font-size: xx-small;
    border: solid 1px black;
}

@media(min-width:1024px){
    .btn{
        position: relative;
        height: 34px;
        width: 13%;
        left: 75%;
        top: 8px;
        font-size: small;
        border: solid 1px black;
    }
}