.form-select{
    position: fixed;
    width: 100px;
    height: auto;
    top: 75px;
    left: 30%;
}

@media(min-width:1024px){
    .form-select{
        position: fixed;
        width: 17%;
        height: auto;
        top: 75px;
        left: 50%;
    }
}