#dropdownMenuButton1{
    position: absolute;
    width: 120px;
    height: auto;
    top: 16px;
    left: -50%;
}

@media(min-width:1024px){
    #dropdownMenuButton1{
        position: absolute;
        width: 120px;
        height: auto;
        top: 16px;
        left: 10%;
    }
}