@import url(menu.css);
@import url(fontello.css);

* {
    margin: 0;
    padding: 0;
}

header{
    width: 80%;
    height: 60px;
    margin-right: 10px;
    position: relative;
    border-bottom: solid 1px black;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-top: 10px;
    left: 12%;
}

h1{
    float: left;
    padding-left: 1px;
      
}

.contenedor{
    width: 98%;
    margin: auto;
}
