@import url(formulario.css);

*{
    margin: 0;
    padding: 0;
}
header{
    margin: auto;
    width: 70%;
    border-bottom: solid black 3px;
}
header a{
    display: block;
    float: right;
    text-decoration: none;
    padding: 10px;
    color: white;
}

header h1{
    display: block;
    padding: 20px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}
