#formulario{
    padding: 30px;
}

#formulario h1{
    font-family: serif;
    padding: 20px;
    text-align: center;
    border-bottom: solid black 2px;
}
.form-creacion{
    width: 80%;
    margin: auto;
    max-width: 500px;
    border-radius: 10px;
    border: solid black 2px;
}

.contenedor-input{
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input{
    padding: 10px;
    margin-bottom: 10px;
}

.colsm{
    width: 40%;
}

.col-xl{
    width: 100%;
}

.btn-continuar{
    margin: auto;
}
