
#res.css{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    margin-right: 20px;
    margin-left: 20px;
}


#res.css img{
    justify-content:  center;
    position: relative;
    margin: 10px;
    width: 50%;
    height: 40%;
}